This script contains the following points:
1. Import the data sets into Jupyter Notebook
2. Check the dimensions of the imported dataframes
3. Determining a suitable way to combine the orders_products_combined dataframe with the products data set
4. Confirm the results of the merge using the merge flag
5. Export the newly created dataframe as ords_prods_merge in a suitable format

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

1. Import the data sets into Jupyter Notebook

In [4]:
# Creating a path
path = r'C:\Users\henry\OneDrive\042025Instacart Basket Analysis'

In [5]:
# Import dataset orders_products_priors.csv
df_ords_prior = pd.read_csv(os.path.join(path, '02 DATA', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [6]:
# Import dataset orders_cleaned.csv
df_ords = pd.read_csv(os.path.join(path, '02 DATA', 'Prepared Data', 'orders_cleaned.csv'), index_col = False)

2. Check the dimension of the imported dataframes

In [8]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [10]:
# Removing 'eval_set' 
if 'eval_set' in df_ords.columns:
    df_ords = df_ords.drop(columns=['eval_set'])

In [11]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [12]:
df_ords.shape

(3421083, 7)

In [13]:
df_ords_prior.shape

(32434489, 4)

Merge the two dataframes

In [15]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [16]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

Checking whether there is a full match between the two dataframes

In [18]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [19]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 DATA','Prepared Data', 'orders_products_combined.pkl'))

In [20]:
df_merged_large.shape

(32434489, 11)

In [21]:
# Export modified df_ords dataframe
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_cleaned_1.csv'))